<a href="https://colab.research.google.com/github/Rudh1830/Market-Basket-Analysis-Using-Apriori-Algorithm/blob/main/Market_Basket_Analysis_Using_Apriori_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('/content/Market_Basket_Optimisation.csv', header=None)
print("Dataset loaded successfully. Displaying the first 5 rows:")
print(df.head())

Dataset loaded successfully. Displaying the first 5 rows:
              0          1           2                 3             4   \
0         shrimp    almonds     avocado    vegetables mix  green grapes
1        burgers  meatballs        eggs               NaN           NaN
2        chutney        NaN         NaN               NaN           NaN
3         turkey    avocado         NaN               NaN           NaN
4  mineral water       milk  energy bar  whole wheat rice     green tea

                 5     6               7             8             9   \
0  whole weat flour  yams  cottage cheese  energy drink  tomato juice
1               NaN   NaN             NaN           NaN           NaN
2               NaN   NaN             NaN           NaN           NaN
3               NaN   NaN             NaN           NaN           NaN
4               NaN   NaN             NaN           NaN           NaN

               10         11     12     13             14      15  \
0  low fat yogurt  green tea  honey  salad  mineral water  salmon
1             NaN        NaN    NaN    NaN            NaN     NaN
2             NaN        NaN    NaN    NaN            NaN     NaN
3             NaN        NaN    NaN    NaN            NaN     NaN
4             NaN        NaN    NaN    NaN            NaN     NaN

                  16               17       18         19
0  antioxydant juice  frozen smoothie  spinach  olive oil
1                NaN              NaN      NaN        NaN
2                NaN              NaN      NaN        NaN
3                NaN              NaN      NaN        NaN
4                NaN              NaN      NaN        NaN

In [ ]:
print("\nShape of the DataFrame:")
print(df.shape)

print("\nDataFrame Information (Data Types and Non-Null Counts):")
df.info()

print("\nDescriptive Statistics:")
print(df.describe())

Shape of the DataFrame:
(7501, 20)

DataFrame Information (Data Types and Non-Null Counts):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7501 non-null   object
 1   1       5747 non-null   object
 2   2       4389 non-null   object
 3   3       3345 non-null   object
 4   4       2529 non-null   object
 5   5       1864 non-null   object
 6   6       1369 non-null   object
 7   7       981 non-null    object
 8   8       654 non-null    object
 9   9       395 non-null    object
 10  10      256 non-null    object
 11  11      154 non-null    object
 12  12      87 non-null     object
 13  13      47 non-null     object
 14  14      25 non-null     object
 15  15      8 non-null      object
 16  16      4 non-null      object
 17  17      4 non-null      object
 18  18      3 non-null      object
 19  19      1 non-null      object
dtypes: object(20)
memory usage: 1.1+ MB

Descriptive Statistics:
                   0              1              2              3          4   \
count            7501           5747           4389           3345       2529
unique            115            117            115            114        110
top     mineral water  mineral water  mineral water  mineral water  green tea
freq              577            484            375            201        153

                  5          6          7          8          9   \
count           1864       1369        981        654        395
unique           106        102         98         88         80
top     french fries  green tea  green tea  green tea  green tea
freq             107         96         67         57         31

                    10         11         12         13         14      15  \
count              256        154         87         47         25       8
unique              66         50         43         28         19       8
top     low fat yogurt  green tea  green tea  green tea  magazines  salmon
freq                22         15          8          4          3       1

                     16           17       18         19
count                 4            4        3          1
unique                3            3        3          1
top     frozen smoothie  protein bar  spinach  olive oil
freq                  2            2        1          1

In [ ]:
total_missing = df.isnull().sum().sum()
print(f"Total missing values in the DataFrame: {total_missing}")

missing_percentage_per_column = (df.isnull().sum() / len(df)) * 100
print("\nPercentage of missing values per column:")
print(missing_percentage_per_column)

Total missing values in the DataFrame: 120657

Percentage of missing values per column:
0      0.000000
1     23.383549
2     41.487802
3     55.405946
4     66.284495
5     75.149980
6     81.749100
7     86.921744
8     91.281163
9     94.734035
10    96.587122
11    97.946940
12    98.840155
13    99.373417
14    99.666711
15    99.893348
16    99.946674
17    99.946674
18    99.960005
19    99.986668
dtype: float64

In [ ]:
all_items = df.stack()
item_counts = all_items.value_counts()

print("Top 10 most frequent items:\n")
print(item_counts.head(10))

Top 10 most frequent items:

mineral water        1788
eggs                 1348
spaghetti            1306
french fries         1282
chocolate            1230
green tea             991
milk                  972
ground beef           737
frozen vegetables     715
pancakes              713
Name: count, dtype: int64

In [ ]:
transactions= []
for i in range(0, len(df)):
  transactions.append( [str(df.values[i,j]) for j in range(0, 20) if str(df.values[i,j]) != '0'] )

In [ ]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5954 sha256=3da9c6665068651122c93180c8cb1aae62d7e2074dc53f9fe797ce8d6a935f84
  Stored in directory: /root/.cache/pip/wheels/7f/49/e3/42c73b19a264de37129fadaa0c52f26cf50e87de08fb9804af
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [ ]:
from apyori import apriori

In [ ]:
rules =  apriori(transactions = transactions , min_support = 0.003, min_confidence = 0.2, min_lift = 3 ,
                 min_length = 2, max_length = 2)

In [ ]:
result = list(rules)

In [ ]:
result

[RelationRecord(items=frozenset({'chicken', 'light cream'}), support=0.004532728969470737, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.29059829059829057, lift=4.84395061728395)]),
 RelationRecord(items=frozenset({'escalope', 'mushroom cream sauce'}), support=0.005732568990801226, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.3006993006993007, lift=3.790832696715049)]),
 RelationRecord(items=frozenset({'escalope', 'pasta'}), support=0.005865884548726837, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.3728813559322034, lift=4.700811850163794)]),
 RelationRecord(items=frozenset({'fromage blanc', 'honey'}), support=0.003332888948140248, ordered_statistics=[OrderedStatistic(items_base=frozenset({'fromage blanc'}), items_add=frozenset({'honey'}), confidence=0.2450980392156863, lift=5.164270764485569)]),
 RelationRecord(items=frozenset({'herb & pepper', 'ground beef'}), support=0.015997866951073192, ordered_statistics=[OrderedStatistic(items_base=frozenset({'herb & pepper'}), items_add=frozenset({'ground beef'}), confidence=0.3234501347708895, lift=3.2919938411349285)]),
 RelationRecord(items=frozenset({'tomato sauce', 'ground beef'}), support=0.005332622317024397, ordered_statistics=[OrderedStatistic(items_base=frozenset({'tomato sauce'}), items_add=frozenset({'ground beef'}), confidence=0.3773584905660377, lift=3.840659481324083)]),
 RelationRecord(items=frozenset({'olive oil', 'light cream'}), support=0.003199573390214638, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'olive oil'}), confidence=0.20512820512820515, lift=3.1147098515519573)]),
 RelationRecord(items=frozenset({'olive oil', 'whole wheat pasta'}), support=0.007998933475536596, ordered_statistics=[OrderedStatistic(items_base=frozenset({'whole wheat pasta'}), items_add=frozenset({'olive oil'}), confidence=0.2714932126696833, lift=4.122410097642296)]),
 RelationRecord(items=frozenset({'shrimp', 'pasta'}), support=0.005065991201173177, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'shrimp'}), confidence=0.3220338983050847, lift=4.506672147735896)])]

In [ ]:
import pandas as pd
def apriori_to_dataframe(results):
    rows = []
    for result in results:
        for rule in result.ordered_statistics:
            rows.append({
                "Antecedent": ", ".join(rule.items_base),
                "Consequent": ", ".join(rule.items_add),
                "Support": result.support,
                "Confidence": rule.confidence,
                "Lift": rule.lift
            })
    return pd.DataFrame(rows)

In [ ]:
rules_df = apriori_to_dataframe(result)
rules_df.head()

             Antecedent   Consequent   Support  Confidence      Lift
0           light cream      chicken  0.004533    0.290598  4.843951
1  mushroom cream sauce     escalope  0.005733    0.300699  3.790833
2                 pasta     escalope  0.005866    0.372881  4.700812
3         fromage blanc        honey  0.003333    0.245098  5.164271
4         herb & pepper  ground beef  0.015998    0.323450  3.291994